*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background: #111213;
}

h1{
    color: #E2713D;
    
}

#ss{
    width: 5%;
    margin-left: 15vw;
    padding-left: 2%;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 8px;
    min-width: 100px;
}

#discord{
    width: 3%;
    float: right;
    margin-right: 15vw;
    min-width: 50px;
}

#logo{

}

/* NAV BAR */

.banner{

    background: rgb(50, 50, 50);
    align-items: flex-end;
}

#logo {
    background: none;
    margin-left: 15vw;
    font-size: 2.5em;
    padding-left: 5%;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 16px;
    width: 100vw;
}

nav{
    background: rgb(15, 15, 15);
}

ul{
    margin-left: 15vw;
}

li{
    font-size: 1em;
    list-style-type: none;
    display: inline-block;
    border: 1px solid rgb(100, 100, 100);
    border-radius: 2px;
    font-weight: 600;
    text-decoration: none;   
}

a{
    display: inline-block;
    padding: 8px;
    text-decoration: none;
    background: #E2713D;
    color: #0F1319;
}

a:hover{
    background: orange;
    color: #0F1319;
}

.active{
    background: #0F1319;
    color: #E2713D;
}



.readMore{
    color: #E2713D;
    background-color: rgb(50, 50, 50);
    text-decoration: underline;
}

.readMore:hover{
    background: rgb(50, 50, 50);
    color: orange;
}

.leftReadMore{
    color: #E2713D;
    background-color: #232323;
    text-decoration: underline;
}

.leftReadMore:hover{
    background: #232323;
    color: orange;
}

/* Left Content */

#leftContent{
    width: 13vw;
    margin-top: 10px;
    margin-left: 0.5vw;
    float: left;
    
}

#newContent{
    background: #232323;
    border: 1px solid #0F1319;
    max-width: 100%;
    padding: 0.4vw;
    text-align: center;
    font-size: 0.6em;
    color: white;
}

.contentPiece{
    text-align: center;
    padding: 8px;
    border: 1px solid grey;
    margin: 2px;
    border-radius: 3px;
}

#nC{
    margin-top: 4px;
    margin-bottom: 10px;
}

/* Main Content */

main{
    background: #232323;
    height: auto;
    max-width: 70vw;
    margin: auto;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 2px;
    border: 1px solid #0F1319;
}

/* flex */

.flexBox{
    display: flex;
    justify-content: space-between;
}

.podFlexBox{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.vidFlexBox{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.newFlexBox{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.newsCard{
    border: 1px solid lightgray;
    border-radius: 4px;
    margin: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 16px;
    text-align: center;
}

.pod{
    border: 1px solid lightgray;
    border-radius: 4px;
    min-width: 220px;
    padding: 4px;
    white-space: nowrap;
    margin: 6px;
    margin-top: 0px;
    background: #232323;    
}

.vidCard{
    border: 1px solid lightgray;
    border-radius: 4px;
    margin: 10px;
    padding: 16px;
    text-align: center;
    max-width: 350px;
}

/* flex-end */

#news{
    background-color: rgb(50, 50, 50);
    padding: 30px;
    padding-top: 15px;
    padding-bottom: 10px;
    margin: 10px;
    margin-bottom: 32px;
    font-size: 0.7em;
    color: white;
    border-radius: 4px;
    border: 1px solid black;
}

#podcasts{
    background: rgb(50, 50, 50);
    padding: 30px;
    padding-top: 15px;
    padding-bottom: 10px;
    margin: 10px;
    font-size: 0.7em;
    color: white;
    margin-bottom: 32px;
    border-radius: 4px;
    text-align: center;
    border: 1px solid black;
}

.podIcon{
    width: 30px;
    float: left;
}

.podTitle{

}

.podTxt{
    font-size: 0.7em;
}

#vids{
    background: rgb(50, 50, 50);
    padding: 30px;
    padding-top: 15px;
    margin: 10px;
    color: white;
    border-radius: 4px;
    border: 1px solid black;
    font-size: 0.7em;
}

.video{
    padding: 0px;
    border-radius: 6px;
    clear: both;
    margin-bottom: 10px;
    border: 1px solid #232323;
}

/* Tutorials */

.tutorial{
    background-color: rgb(50, 50, 50);
    padding: 30px;
    margin: 10px;
    margin-bottom: 32px;
    font-size: 0.7em;
    color: white;
    border-radius: 4px;
    border: 1px solid black;
}

/* Maps */

#topPicks{
    background-color: rgb(50, 50, 50);
    padding: 30px;
    margin: 10px;
    margin-bottom: 32px;
    font-size: 0.7em;
    color: white;
    border-radius: 4px;
    border: 1px solid black;
    text-align: center;
}

.mapReview{
    background-color: rgb(50, 50, 50);
    padding: 30px;
    margin: 10px;
    margin-bottom: 32px;
    font-size: 0.7em;
    color: white;
    border-radius: 4px;
    border: 1px solid black;
}

/* News */

.news{
    background-color: rgb(50, 50, 50);
    padding: 30px;
    margin: 10px;
    margin-bottom: 32px;
    font-size: 0.7em;
    color: white;
    border-radius: 4px;
    border: 1px solid black;
}

/* About Us */

#staff{
    background-color: rgb(50, 50, 50);
    padding: 30px;
    margin: 10px;
    margin-bottom: 32px;
    font-size: 0.7em;
    color: white;
    border-radius: 4px;
    border: 1px solid black;
}

#contributors{
    background-color: rgb(50, 50, 50);
    padding: 30px;
    margin: 10px;
    margin-bottom: 32px;
    font-size: 0.7em;
    color: white;
    border-radius: 4px;
    border: 1px solid black;
}

#supporters{
    background-color: rgb(50, 50, 50);
    padding: 30px;
    margin: 10px;
    margin-bottom: 32px;
    font-size: 0.7em;
    color: white;
    border-radius: 4px;
    border: 1px solid black;
}

/* Contact Us */

.form1{
    background-color: rgb(50, 50, 50);
    padding: 30px;
    margin: 10px;
    margin-bottom: 32px;
    font-size: 0.7em;
    color: white;
    border-radius: 4px;
    border: 1px solid black;
    text-align: center;
}

/* iPhone 6/7/8 */
@media (max-width: 900px) {

    body{
        width: 100vw;
    }

    /* NAV BAR */

    .banner{
        display: block;
    }

    #ss{
        margin-left: 5vw;
        padding-left: 2%;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-right: 8px;
        max-width: 100px;
        min-width: none;
    }

    #discord{
        width: 3%;
        float: right;
        margin-right: 5vw;
        min-width: 50px;
    }

    #logo {
        font-size: 2em;
        margin-left: 0;
        padding-left: 12px;
    }

    nav{
        padding-top: 2px;
        padding-bottom: 8px; 
    }

    ul{
        margin-left: 0;
    }

    li{
        display: block;
        text-align: center;
        float: none;
        list-style-type: none;
        font-size: 0.7em;;
        padding: 0px;
        background: #0F1319;
        color: white;
        border: 2px solid #E2713D;
        border-radius: 6px;
        margin-top: 5px;
    }

    a{
        display: inline-block;
        padding: 8px;
        background: #0F1319;
        color: white;
    }

    .active{
        background:#232323;
    }

    .leftReadMore{
        color: #E2713D;
        background-color: rgb(50, 50, 50);
        text-decoration: underline;
    }
    
    .leftReadMore:hover{
        background: rgb(50, 50, 50);
        color: orange;
    }

    /* Left Content */

    #leftContent{
        max-width: 95vw;
        width: 95vw;
        margin: auto;
        margin-top: 10px;
        
        float: none;
        min-height: 0vh;        
    }
    
    #newContent{
        background: rgb(50, 50, 50);
        border: 1px solid black;
        max-width: 100%;
        padding: 0.4vw;
        border-radius: 4px;
        font-size: 0.7em;
    }

    .leftToCenter{
        background: #232323;
        padding: 10px
    }

    .contentPiece{
        text-align: center;
        padding: 8px;
        border: 1px solid grey;
        margin: 2px;
        border-radius: 4px;
    }

    #nC{
        margin-top: 10px;
        margin-bottom: 10px;
    }


    /* Main Content */

    main{
        background: #232323;
        height: auto;
        max-width: 95vw;
        margin: auto;
        padding-bottom: 20px;
        margin-top: 10px;
    }

    /* Flex */

    .flexBox{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .podFlexBox{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .vidFlexBox{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .newFlexBox{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .newsCard{
        border: 1px solid lightgray;
        border-radius: 4px;
        margin: 10px;
        margin-left: 0px;
        margin-right: 0px;
        padding: 16px;
        text-align: center;
    }

    .pod{
        border: 1px solid lightgray;
        border-radius: 4px;
        min-width: 220px;
        padding: 4px;
        white-space: nowrap;
        margin: 6px;
        margin-top: 0px;
        background: #232323;    
    }

    /* Flex End */

    #news{
        background-color: rgb(50, 50, 50);
        padding: 10px;
        margin: 10px;
        margin-bottom: 32px;
        font-size: 0.7em;
        color: white;
        border-radius: 4px;
        border: 1px solid black;
    }
    
    #podcasts{
        background: rgb(50, 50, 50);
        padding: 10px;
        margin: 10px;
        font-size: 0.7em;
        color: white;
        border-radius: 4px;
        text-align: center;
        border: 1px solid black;
    }

    #vids{
        background: rgb(50, 50, 50);
        padding: 10px;
        margin: 10px;
        font-size: 0.7em;
        color: white;
        border-radius: 4px;
        text-align: center;
        border: 1px solid black;
    }

    .video{
        width: 100%;
    }

    /* Tutorials */
    
    .tutorial{
        background: rgb(50, 50, 50);
        padding: 10px;
        margin: 10px;
        font-size: 0.7em;
        color: white;
        margin-bottom: 24px;
    }

    /* Maps */

    #topPicks{
        background: rgb(50, 50, 50);
        padding: 10px;
        margin: 10px;
        font-size: 0.7em;
        color: white;
        margin-bottom: 24px;
    }

    .mapReview{
        background: rgb(50, 50, 50);
        padding: 10px;
        margin: 10px;
        font-size: 0.7em;
        color: white;
        margin-bottom: 24px;
    }

    .news{
        background: rgb(50, 50, 50);
        padding: 10px;
        margin: 10px;
        font-size: 0.7em;
        color: white;
        margin-bottom: 32px;
    
    }

    /* About Us */

    #staff{
        background: rgb(50, 50, 50);
        padding: 10px;
        margin: 10px;
        font-size: 0.7em;
        color: white;
        margin-bottom: 32px;
        border-radius: 4px;
    }

    #contributors{
        background: rgb(50, 50, 50);
        padding: 10px;
        margin: 10px;
        font-size: 0.7em;
        color: white;
        margin-bottom: 32px;
        border-radius: 4px;
    }

    #supporters{
        background: rgb(50, 50, 50);
        padding: 10px;
        margin: 10px;
        font-size: 0.7em;
        color: white;
        margin-bottom: 32px;
        border-radius: 4px;
    }

/* Contact Us */

    .form1{
        background: rgb(50, 50, 50);
        padding: 10px;
        margin: 10px;
        font-size: 0.7em;
        color: white;
        margin-bottom: 32px;
        border-radius: 4px;
        text-align: center;
    }

    #feedback{
        width: 100%;
    }

}